    body{
        background-color:  var(--cor-azul);
    }

    header{
        background-color: var(--escuro);
        color: antiquewhite;
        
    }

    nav>a{
        color: antiquewhite;
        text-decoration: none;
        padding: 15px;
        margin-top: 30px;
     
    }
    nav> a:hover{
        color: black;
        background-color: rgba(250, 235, 215, 0.057);
    }

    header>h1,header>p{
        padding: 15px;
        text-align: center;
    }

    header>p{
        margin-bottom: 7px;
    }

    main{
        background-color: antiquewhite;
        width: 80%;
        margin: auto;
        padding: 70px;
    }

    #lista{
        background-color: rgb(115, 115, 169);
        border-radius: 5%;
        width: 90%;
        margin:auto;
        padding: 15px;
       
    }

    div ul{
        columns: 2;
        width: fit-content;
        list-style-position: inside;
        margin: 15px auto ;
        column-gap: 20px;
    }


    footer{
        background-color: rgb(0, 0, 0);
        color: antiquewhite;
        font-size: small;
        text-align: center;
    }